$background: lightblue;

body {
  background: $background;
  font-family: "Helvetica Neue", serif;
}

.content {
	width: 80%;
	margin: auto;
}

.header {
    margin: 60px 0 20px;
}

.filter-link {
    margin: 0 0 0 5px;
    font-size: 14px;	
}

.small-text {
	font-size: 14px;
	margin: 0 5px 0;
}

.results,
.commits {
    display: inline-block;
    width: 49.9999%;
    float: left;
}

.repo-list {
	padding: 5px;
	list-style-type: none;
	background: #e0e0e0;

	.repo-list-item {
		list-style: none;
	    padding: 5px;
	    margin: 10px 0;
	    background: #fff;

	    &:hover {
			cursor: pointer;	    	
	    }

	    p {
	    	font-weight: bold;
	    	display: inline;
	    }

	    &:first-child {
	    	margin-top: 0;
	    }

	    &:last-child {
	    	margin-bottom: 0;
	    }	    
	}
}

.repo-org-avatar {
	width: 20px;
	height: 20px;
	margin-right: 6px;
	vertical-align: middle;
}

.commits {
	margin-top: 35px;

	.headline,
	.default-copy {
		margin: 0 20px 0
	}

	.commits-list {
		padding: 0 10px 20px;
	    list-style: none;

		li {
		    font-family: monospace;
		    font-size: 16px;
		    line-height: 28px;
		    white-space: pre-wrap;
		    background: #fff;
		    margin: 20px 10px;
		    padding: 10px 12px;
		}
	}	
}